@inherits System.Web.Mvc.WebViewPage<dynamic>
@using System.Web.Mvc.Html;

<h2>You gave us this expression:</h2>
<code class="code-block">@View.ExpressionMarkup</code>

<h2>This is how it works:</h2>
@View.NodesMarkup

<h2>We worked that out in @View.TimeTaken.TotalSeconds.ToString("#,##0.00000000") seconds. Your move.</h2>