<p>
    Regular expressions are no doubt insanely powerful. The problem is that they can be scarily
    terse and nobody ever seems to document them once they've written them. This site answers
    one simple question - what does this regular expression do? Use it to help learn, or
    to help work out what the last guy did.
</p>
<form id="input-form" method="get" action="analyze">
    <ol>
        <li id="input-form-expression">
            <label for="input-expression">Expression</label>
            <textarea id="input-expression" type="text" name="q" rows="5" placeholder="Expression..." class="bx-submit-on-enter"></textarea>
        </li>
        <li id="input-form-submit">
            <input type="submit" value="Tell Me Now" />
        </li>
        <li id="input-form-verbose">
            <label for="input-verbose">Verbose?</label>
            <input id="input-verbose" type="checkbox" name="verbose" value="true" />
        </li>
    </ol>
</form>