@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
    <head>
        <title>What does this regular expression do?</title>
        <link rel="stylesheet" type="text/css" href="assets/styles.less" />
        <script type="text/javascript" src="http://use.typekit.com/woq1zxe.js"></script>
        <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    </head>
    <body>
        <div id="container">
            <h1>What does this regular expression do? <span>.com</span></h1>

@RenderBody()

            <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
            <script type="text/javascript">

                $('textarea.bx-submit-on-enter').keypress(function (e) {
                    if (e.which == 13 && !e.shiftKey) {
                        e.preventDefault();
                        $(this).closest('form').submit();
                    }
                });

                $(".ast-node").hover(
                    function () {
                        var nodeIdClass = /ast-node-\d+/.exec($(this).attr('class'))[0];
                        $("." + nodeIdClass).addClass("ast-node-hover");
                    },
                    function () {
                        var nodeIdClass = /ast-node-\d+/.exec($(this).attr('class'))[0];
                        $("." + nodeIdClass).removeClass("ast-node-hover");
                    }
                );

            </script>
        </div>
    </body>
</html>