@heading-color: #ab434f;
@sub-heading-color: #888;
@light-color: #ccc;
@box-color: #aaa;
@box-inner-border: #ddd;
@box-background-color: #f7f7f7;
@highlight-background-color: #ffb;
@error-highlight-background-color: #fcc;

* { margin: 0; padding: 0; }

.wf-museo1museo2-n4-loading h1,
.wf-facitweb1facitweb2-n4-loading h2
{
    visibility: hidden;
}

html, body
{
    font-family: "facitweb-1", "facitweb-2", sans-serif;
    font-size: 13px;
}

#container
{
    width: 800px;
    margin: 0 auto;
    padding: 0 10px 30px 10px;
}

h1
{
    margin: 40px 0 15px 0;
    font-family: "museo-1", "museo-2", serif;
    font-size: 33px;
    color: @heading-color;
    span { color: @light-color; }
}

h2
{
    margin: 20px 0 10px 0;
    font-size: 20px;
    color: @sub-heading-color;
}

p { margin-bottom: 8px; }

code
{
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}

.code-block
{
    display: block;
    padding: 10px;
    background-color: @box-background-color;
    border: solid 1px @box-color;
    line-height: 140%;
    margin-bottom: 8px;
}

table
{
    border: solid 1px @box-color;
    border-collapse: collapse;
    th { background-color: @box-background-color; white-space: nowrap; }
    th, td { padding: 3px 10px; text-align: left; }
    tbody tr { border-top: solid 1px @box-color; }
    tbody tr.ast-node-hover { background-color: @highlight-background-color; }
    th:nth-child(1n+2), td:nth-child(1n+2) { border-left: solid 1px @box-inner-border; }
}

ol.ast
{
    position: relative;
    list-style-type: none;
    background: transparent url(TreeDot.png) repeat left top;
    ol
    {
        clear: left;
        position: none;
        list-style-type: none;
        margin-left: 10px;
    }
    li
    {
        display: block;
        width: 100%;
        overflow: hidden;
        line-height: 18px;
        vertical-align: middle;
        .ast-node
        {
            display: block;
            height: 18px;
            overflow: hidden;
            width: 100%;
            background-color: #fff;
        }
        .ast-parse-failure-node * *
        {
            background-color: @error-highlight-background-color;
        }
        .ast-node:hover * *,
        .ast-node-hover * *
        {
            background-color: @highlight-background-color;
        }
        .ast-node-data
        {
            display: block;
            float: left;
            overflow: hidden;
            white-space: nowrap;
            width: 300px;
        }
        .ast-node-description
        {
            position: absolute;
            display: block;
            height: 18px;
            left: 300px;
            width: 495px;
            padding-left: 5px;
            line-height: 18px;
            vertical-align: middle;
            background-color: #fff;
            overflow: hidden;
        }
    }
}

#input-form
{
    margin-top: 15px;
    ol
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;

        li#input-form-expression
        {
            float: left;
            padding-bottom: 10px;
            label { display: none; }
            textarea
            {
                width: 778px;
                padding: 10px;
                border: solid 1px #ddd;
                overflow: auto;
            }
        }

        li#input-form-verbose,
        li#input-form-submit
        {
            float: right;
            clear: left;
            margin-left: 20px;
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
        }

        li#input-form-submit input
        {
            height: 30px;
            padding: 0 10px;
        }
    }
}