/* http://kuler.adobe.com/#themeID/1018131 */
/* purple: 65356B */
/* maroon: AB434F */
/* brown:  C76347 */
/* orange: FFA24C */
/* teal:   519183 */
/* light:  ccc */

html, body
{
    margin: 0;
    padding: 0;
}

#container
{
    width: 800px;
    margin: 0 auto;
    border-left: solid 1px red;
    border-right: solid 1px red;
}

h1
{
    font-family: "museo-1" , "museo-2" ,serif;
    font-size: 33px;
    color: #AB434F;
}

h1 span
{
    color: #ccc;
}
